.row.wrapper
  .col.col-lg-12.title.headline
    img#ProfilePic(src="img/profile-pic.jpg")
    p
      font.strong Dr. Rob Treharne
      |  lives in Aigburth, Liverpool.
      |  He has a PhD in Physics and over
      font.strong  10 years
      |  experince tutoring
      font.strong  maths and physics
      |  to
      font.strong  GCSE
      | ,
      font.strong  A-Level
      |  and
      font.strong  undergraduate
      |  students. When he's not tutoring he works as a Lecturer in Life
      |  Sciences at the University of Liverpool.
    p
      | Rob specialises in
      font.strong  coaching students
      |  in
      font.strong  exam technique
      |  - helping them to
      font.strong  improve their confidence
      |  and get the grades that they deserve.
