h1.big-title contact
p
  | For more info please email
  a(href="mailto: danielholden@d2u-coaching.com")  danielholden@d2ucoaching.com
  br
  | Or contact
  font.pink  thesis
  b retreat
  |  using any of our social media pages.
