.row.wrapper
  .col.col-lg-6.title.headline
    h1.big-title.main-title
      | Breathe Clean
    p
      strong
        | Capturing toxic indoor air pollutants using
        font.pink  Nano-Cage Technology

  .col.col-lg-6.title.headline
    p
      strong
        font.pink CageCapture Ltd (CCL)
      |  is a
      strong  University of Liverpool
      |  start-up, based in the
      | Materials Innovation Factory, an
      strong  $81 million
      |  facility dedicated to the research
      | and development of advanced materials.
    p
      | We create, develop and supply novel advanced materials to address some of
      | the most pressing
      strong  indoor air pollution
      |  problems facing modern society.

    a(target="_blank" href="#why")
      .btn.btn-primary
          | Learn More
