.row.wrapper
  .col.col-lg-6.title.headline
    img#SplashLogo(src="/img/logo.png")
    h1.big-title.main-title
      | R. Treharne
    h3
      | PROFESSIONAL ONLINE TUTOR



  .col.col-lg-6.title.headline
    h2
      | MATHS & PHYSICS
    h3
      | GCSE. A-Level. All Exam Boards.
    a(href="#register")
      #fixedbtn
        #fixedbtn-offer
          .inner-fixedbtn-offer
            font.s1 FREE,
            br
            font.s2 NO OBLIGATION,
            br
            br
            font.s3 INTRODUCTORY
            br
            font.s4 SESSIONS
            br
            br
            font.s2 CONTACT ME NOW!
