.row
  .col.col-lg-6.testamonial
    p.quote
      | "With Rob something just clicked. I went into my Physics A-Level
      |  exam with a predicted C grade. I got an A!"
    p.name
      | EMMA R
  .col.col-lg-6.testamonial
    p.quote
      | "If it hadn't been for Rob I would never have got the grades in GCSE
      |  I needed to do the A-Levels I wanted."
    p.name
      | JACK J
  .col.col-lg-6.testamonial
    p.quote
      | My son is Dyslexic, Dyscalculia & has a poor working memory, he is at
      |  university and has extra tuition from Rob for Maths. Rob has helped
      |  him gain confidence and to catch up in his subject.
      |  We both recommend him 100%.
    p.name
      | FIONA H
  .col.col-lg-6.testamonial
    p.quote
      |  Rob is the best, I met him at a time I had difficulties in writing my
      |  experimental report. He made every thing so easy and helped me
      |  gain the confidence I needed to produce a good write up.
    p.name
      | ESNATH N
