.row
  .col.col-lg-6.headline
    p -- What?
    h1.big-title
      | Here's our amazing
      font.pink  programme.
    a
      .btn.btn-primary.programme-btn#fri-btn
          | Fri 12
    a
      .btn.btn-primary.programme-btn#sat-btn
          | Sat 13
    a
      .btn.btn-primary.programme-btn#sun-btn
          | Sun 14
    br
    a(href="#where")
      b Where
      |  is the thesis retreat?

  .col.col-lg-6.headline

    table#friday.tg
      tr.head
        th.tg-yw4l Time
        th.tg-yw4l Description

      tr
        td.tg-yw4l
          b 1700
        td.tg-yw4l Reception and registration
      tr
        td.tg-yw4l
          b 1800
        td.tg-yw4l Induction
      tr
        td.tg-yw4l
          b 1900
        td.tg-yw4l
          b Dinner
      tr
        td.tg-yw4l
          b 2030
        td.tg-yw4l Careful Planning
      tr
        td.tg-yw4l
          b 2100
        td.tg-yw4l Relaxing, socialising, rest
      tr
        td.tg-yw4l
          b 2200
        td.tg-yw4l
          b Supper snacks
      tr
        td.tg-yw4l
          b 2230
        td.tg-yw4l Night owl writing session

    table#saturday.tg
      tr.head
        th.tg-yw4l Time
        th.tg-yw4l Description
      tr
        td.tg-yw4l
          b 0600
        td.tg-yw4l
          | Early bird writing session
      tr
        td.tg-yw4l
          b 0800
        td.tg-yw4l
          b A good hearty breakfast
      tr
        td.tg-yw4l
          b 0900
        td.tg-yw4l The sorting hat
      tr.write
        td.tg-yw4l
          b 0930
        td.tg-yw4l Write, write, write*
      tr
        td.tg-yw4l
          b 1100
        td.tg-yw4l
          b Snack stop.
      tr.write
        td.tg-yw4l
          b 1130
        td.tg-yw4l Write, write, write*
      tr
        td.tg-yw4l
          b 1300
        td.tg-yw4l
          b Champions Lunch
      tr
        td.tg-yw4l
          b 1400
        td.tg-yw4l Relax, nap, chill*
      tr.write
        td.tg-yw4l
          b 1430
        td.tg-yw4l Write, write, write*
      tr
        td.tg-yw4l
          b 1600
        td.tg-yw4l Reflection and peer proofing*
      tr
        td.tg-yw4l
          b 1730
        td.tg-yw4l Free your mind
      tr
        td.tg-yw4l
          b 1830
        td.tg-yw4l
          b Dinner of Winners
      tr
        td.tg-yw4l
          b 1930
        td.tg-yw4l Digest, discuss, plan
      tr.write
        td.tg-yw4l
          b 2030
        td.tg-yw4l Write, write, write*
      tr
        td.tg-yw4l
          b 2200
        td.tg-yw4l
          b Supper snacks
      tr
        td.tg-yw4l
          b 2230
        td.tg-yw4l Night owl writing session

    table#sunday.tg
      tr.head
        th.tg-yw4l Time
        th.tg-yw4l Description
      tr
        td.tg-yw4l
          b 0600
        td.tg-yw4l
          | Early bird writing session
      tr
        td.tg-yw4l
          b 0800
        td.tg-yw4l
          b Veterans breakfast
      tr.write
        td.tg-yw4l
          b 0900
        td.tg-yw4l Write, write, write*
      tr
        td.tg-yw4l
          b 1130
        td.tg-yw4l
          b Snack stop
      tr
        td.tg-yw4l
          b 1200
        td.tg-yw4l Presentation of Awards
      tr
        td.tg-yw4l
          b 1230
        td.tg-yw4l
          b Good luck buffet



    br
    p *No phones allowed
