.row
  .col.col-lg-6.headline
    p -- Why?
    h1.big-title
      | Writing
      font.pink  your thesis
      |  is tough.

    p
     b Sometimes it's hard to get motivated.
     |  You become frustrated, isolated and lonely.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper enim a eros accumsan, vulputate imperdiet turpis blandit. Suspendisse sed purus nec elit elementum tempus.
    a(href='#how')
      b How
      |  do we get you to write 5000 words?
  .col.col-lg-6.image
