// Variables
$body-bg: #fff;
$main-font: 'Arial';

$primary-color: #fff;
$secondary-color: #009a9a;
$light-color: #f4f4f4;
$dark-color: #333;
$highlight: #ff4162;
$highlight-hover: #cc344e;

$container: 960px;
$section-padding: 50px;
