// Variables
$body-bg: #fff;
$main-font: 'Arial';

$primary-color: #f9fbfe;
$secondary-color: #009a9a;
$light-color: #f4f4f4;
$dark-color: #002b1f;
$highlight-hover: #388038;
$highlight: #085837;

$container: 960px;
$section-padding: 50px;
