// Variables
$body-bg: #fff;
$main-font: 'Arial';

$primary-color: #003380;
$secondary-color: #aa0000;
$light-color: #fbfbfb;
$dark-color: #002b1f;
$highlight-hover: #388038;
$highlight: #085837;

$container: 960px;
$section-padding: 50px;
