*:focus {
  outline: none; }

.title {
  white-space: normal; }

hr.style-two {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, transparent, #ff4162, transparent);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 75px;
  margin-bottom: 75px; }

body {
  font-size: 18px; }

.full-height {
  min-height: 100vh; }

.headline {
  padding-top: 50px; }

h1.big-title {
  font-size: 4em;
  margin-top: 10px; }

font.pink {
  color: #ff4162; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.row {
  width: 100%;
  margin: 0; }

span.page-info {
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block; }

.btn-info {
  background-color: transparent;
  font-size: 1.3em;
  border-radius: 0px;
  border: 2px grey solid;
  color: grey; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  min-height: 500px; }

.event-box {
  display: table;
  padding-top: 100px; }

.event-box-line {
  display: table-cell;
  vertical-align: middle; }

.event-info {
  float: right;
  margin: 10px; }

.event-info h3, p {
  margin-top: 0px;
  margin-bottom: 10px; }

.left {
  float: left;
  margin: 10px;
  line-height: 100%; }

.wrapper {
  display: inline-block;
  white-space: nowrap; }

.block {
  white-space: normal;
  vertical-align: middle;
  float: none; }

.image {
  max-height: 100%;
  max-width: 50%; }

#main {
  background-image: url("../img/main-bg-2.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#why {
  background-image: url("../img/why.jpg");
  width: auto;
  background-repeat: no-repeat;
  background-size: contain; }

#how {
  background-image: url("../img/coffee.jpg");
  width: auto;
  background-repeat: no-repeat; }

#where {
  background-image: url("../img/where.jpg");
  width: auto;
  background-repeat: no-repeat; }

.parallax {
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover; }

.left {
  line-height: 0;
  margin: 0; }

.slider {
  margin-top: 20px; }

.btn-primary {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
  background-color: #ff4162;
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: #ff4162; }

.programme-btn:focus {
  outline-color: blue !important; }

.btn-primary:hover {
  background-color: #cc344e;
  border-color: #cc344e; }

.tg {
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%; }

.tg td {
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  padding: 20px 20px;
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
  word-break: normal;
  border-left: none;
  border-right: none; }

.tg th {
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 20px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-left: none;
  border-right: none; }

.tg .tg-yw4l {
  vertical-align: top; }

tr.head {
  background-color: #333;
  color: #fff; }

tr.write {
  color: #ff4162; }

table#saturday, table#sunday {
  display: none; }

#fixedbtn-up, #fixedbtn-reg, #fixedbtn-offer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff4162;
  color: #fff;
  font-size: 1.0em;
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  margin: 0px;
  display: none; }

.inner-fixedbtn-up, .inner-fixedbtn-reg {
  line-height: 50px; }

#fixedbtn-reg {
  right: 80px;
  width: 200px;
  border-radius: 5px;
  font-size: 1.2em;
  line-height: 50px;
  margin: 0px;
  padding: 0px;
  display: none; }

#fixedbtn-offer {
  position: absolute;
  bottom: 50px;
  right: 200px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: table;
  transform: rotate(20deg); }

.inner-fixedbtn-offer {
  display: table-cell;
  vertical-align: middle; }

@media (max-width: 1200px) {
  body {
    font-size: 20px; }
  #main {
    background-image: none; }
  #why {
    background-image: none; }
  #how {
    background-image: none; }
  #where {
    background-image: none; }
  #fixedbtn-offer {
    display: none; }
  .event-box {
    margin-left: 0;
    margin-top: 40px; }
  .left svg {
    margin-top: 10px; } }

@media (max-width: 992px) {
  h1.main-title {
    font-size: 3em !important; }
  div.left {
    display: none; }
  #main {
    margin-top: 30px; }
  .event-info h3, p {
    margin-bottom: 0px; }
  .event-info {
    margin-left: 0; }
  .event-box {
    padding-top: 0px; } }
