* {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-family: "Arial";
  text-align: center; }

a {
  text-decoration: none;
  color: #333; }

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 20px; }

header#main-header {
  padding: 1em;
  background: #fff;
  color: #333;
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }
  header#main-header h1 {
    font-size: 40px;
    font-family: "Computer Modern Concrete", sans-serif; }
  header#main-header img#header-logo {
    max-width: 200px;
    margin-bottom: 5px; }
  header#main-header .fa {
    font-size: 5em; }
  header#main-header a {
    color: #333; }
    header#main-header a:hover {
      color: #ccc; }

nav#main-nav {
  background: #fff;
  height: 40px; }
  nav#main-nav ul {
    list-style: none;
    padding-top: 10px; }
  nav#main-nav li {
    display: inline; }
  nav#main-nav a {
    color: #333;
    padding-right: 20px; }
    nav#main-nav a:hover {
      color: #ccc; }

.section, #section-a, #section-b {
  padding: 50px; }
  .section h1, #section-a h1, #section-b h1 {
    margin-bottom: 30px; }

#section-a {
  background: #f4f4f4;
  color: sete-text-color(#f4f4f4); }

#section-b {
  background: #333;
  color: #fff; }

.button, .button-a, .button-b {
  padding: 10px 15px; }

.button-a {
  background: #e6e6e6;
  color: #000; }

.button-b {
  background: #00cdcd;
  color: #fff; }
