.row
  .col.col-lg-offset-6.col-lg-6
    p -- How?
    h1.big-title
      | We will
      font.pink  push you
    p
      b
        | Because we know
        font.pink  you
        |  can do it.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper enim a eros accumsan, vulputate imperdiet turpis blandit. Suspendisse sed purus nec elit elementum tempus.
    a(href="#what")
      b What
      |  does a thesis retreat look like?
