doctype html
html.no-js(lang='en')
  head
    title Sass Starter Pack
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  body
    header#main-header
      .container
        img#header-logo(src='img/eye.png')
        h1 imprint
        a(href='')
          i.fa.fa-caret-down.fa-6(aria-hidden='true')

    section#section-a
      .container
        h1 Lorem ipsum dolor sit amet
        a.button-a(href='') Read More
    section#section-b
      .container
        h1 Lorem ipsum dolor sit amet
        a.button-b(href='') Read More
