.row.wrapper
  .col.col-lg-6.title
    h1.big-title.main-title
      | Need to write
      font.pink  your thesis?
    p
      | Get motivated at the
      a
        |  #ThesisRetreat
    a(target="_blank" href="https://eventbrite.com")
      .btn.btn-primary
          | Register Now
    br
    a(href='#why')
      b Why
      |  should you attend a thesis retreat?
  .col.col-lg-6.event-box
      .eventbox
        .event-box-line
          .left
            i.fas.fa-calendar.fa-2x
          .event-info
            h3 12 - 14 April 2019
            p A weekend event
      .eventbox
        .event-box-line
          .left
            i.fas.fa-map-marker.fa-2x
          .event-info
            h3 Lane End Conference Centre
            p Buckinghamshire, UK
