.row.wrapper
  .col.col-lg-6.block
    h1.big-title
      | Need to write
      font.pink  your thesis?
    h2
      b Let's do it!
    br
    p
      | Get motivated at the
      a
        |  #ThesisRetreat
    .btn.btn-primary
        | Register Now
    br
    a
      | Learn More
  .col.col-lg-6.event-box.block
      .eventbox
        .event-box-line
          .left
            i.fas.fa-calendar.fa-2x
          .event-info
            h3 12 - 14 April 2019
            p A weekend event
      .eventbox
        .event-box-line
          .left
            i.fas.fa-map-marker.fa-2x
          .event-info
            h3 Lane End Conference Centre
            p Buckinghamshire, UK
