.row
  .col.col-lg-6.headline
    p -- Why?
    h1.big-title
      | Writing
      font.pink  your thesis
      |  is tough.

    p
     b Sometimes it's hard to get motivated. That's where we come in.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper enim a eros accumsan, vulputate imperdiet turpis blandit. Suspendisse sed purus nec elit elementum tempus.
  .col.col-lg-6.image
