@import 'variables';
@import 'functions';

*{
  margin:0;
  padding: 0;
}

body{
  background: $body-bg;
  font-family: $main-font;
  text-align: center;
}

a{
  text-decoration: none;
  color: $dark-color;
}

.container{
  max-width: $container;
  margin: auto;
  padding: 0 20px;
}



header#main-header{
  padding: 1em;
  background: $primary-color;
  color:$dark-color;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  h1{
    font-size: 40px;
    font-family: "Computer Modern Concrete", sans-serif;
  }
  img#header-logo{
    max-width: 200px;
    margin-bottom: 5px;
  }
  .fa{
    font-size: 5em;
  }

  a{
    color: $dark-color;
    &:hover{
      color: #ccc;
    }
  }
}

nav#main-nav{
  background: $primary-color;
  height: 40px;

  ul{
    list-style: none;
    padding-top: 10px;

  }

  li{
    display: inline;
  }

  a{
    color: $dark-color;
    padding-right: 20px;
    &:hover{
      color: #ccc;
    }
  }
}

.section{
  padding: $section-padding;

  h1{
    margin-bottom: 30px;
  }
}

#section-a{
  @extend .section;
  background: $light-color;
  color: sete-text-color($light-color);
}

#section-b{
  @extend .section;
  background: $dark-color;
  color: set-text-color($dark-color);
}

.button{
  padding: 10px 15px;
}

.button-a{
  @extend .button;
  background: darken($primary-color, 10%);
  color: set-text-color($primary-color);
}

.button-b{
  @extend .button;
  background: lighten($secondary-color, 10%);
  color: set-text-color($secondary-color);
}
